# Data folder
[dD][aA][tT][aA]/

#Derived data
DerivedData/

#Logs
Logs/

#other data related files
*.4DB
*.4DD
*.4DIndx
*.4DIndy
*.Match
*.4BK

# Libaries
Libraries/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
Project/Trash

# system files
.DS_Store
ehthumbs.db
Thumbs.db
Settings/directory.json

# ignore windows hidden files
._*
